<!-----start-about---->
<div id="about" class="about">
  <div class="container">
    <div class="col-md-5 about-left">
      <p>Why <label>We</label> Exist  <span>Our Mission</span></p>
    </div>
    <div class="col-md-7 about-right">
      <h3>Bible Christians Fellowship of the Spirit exists to teach, to reach and to follow.</h3>
      <p>We believe that acquiring the knowledge and understanding of the entire bible is a critical component in living a full content life. Bible Christians Fellowship of the Spirit is here to teach all wishing to learn the importance of the Word of God and what it really means to be a follower of Christ. We seek to take people beyond that first step of the knowledge of scriptures to understanding and living in truth.</p>

      <p> We are here to reach out to the communities of the world as servants and followers of Christ. Desiring to help the poor, widowed, orphaned and abused as best we are able. Our vision is to unite and promote family values as well as addressing the things of this world that so heavily burden all those seeking to live peacefully and fully as the body of Christ.</p>

      <p> We follow the teachings and traditions of Christ, not conforming to the customs of manmade vanities. As we follow Christ we also lead by example bringing others to worship and praise the Father and the Son fully recognizing the coming of the kingdom of Our Lord and His Christ.</p>
      <!-- <ul class="list-unstyled list-inline">
        <li>1.  The market leader in real estate since 2003</li>
        <li>2.  Awards Real Estate Company, 2010, 2011, 2013</li>
        <li>3.  More than 200 satisfied customers premium segment</li>
        <li>4.  We focus only on new buildings and high-level doskanalno know this area better than other specialists.</li>
        <li>5.  Working directly with developers - so have more useful information about the profitable deals</li>
      </ul>
      <span>We will never late!<br /> Guaranteed secure transaction - 100%</span> -->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-----//End-about---->
<!----start-gallery---->
<div id="gal" class="gallery">
  <div class="container">
    <div class="head">
      <h3>Gallery <span> </span></h3>
    </div>
    <div class="gallery-grids">
      <div class="gallery-grids-row1">
        <div class="col-md-8 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g1.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-4 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g2.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Marina Palms / <a href="#">North Miami Beach, FL 33162</a></p>
      </div>
      <div class="gallery-grids-row1">
        <div class="col-md-6 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g3.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-6 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g4.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Edition Residens /<a href="#">Miami Beach, FL 33139</a></p>
      </div>
      <!---->
      <div class="gallery-grids-row1">
        <div class="col-md-4 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g2.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-8 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="port-pic" src="images/g1.jpg" />
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Miami places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Faena House / <a href="#">Miami Beach, FL 33140</a></p>
      </div>
    </div>
    <a class="view-gallery-btn" href="#">View all</a>
  </div>
</div>
<!---//End-gallery-->
<!---start-consulation-->

<div id="con" class="consulation">
  <div class="container">
    <div class="head c-head">
      <h3>Donate/Tithe <span> </span></h3>
    </div>
    <div class="consulation-grids">
      <div class="col-md-7 consulation-left">
        <h4>Donate to Bible Christians</h4>
        <p>We freely provide the gospel message to all who desire it. Donations to assist in proclaiming the gospel of the Kingdom of God to the world are gratefully accepted and are tax-deductible in the United States. Those who choose to voluntarily support this work are welcomed as coworkers in this effort to proclaim the true gospel to all nations.</p>
    <div class="form">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8AKNAP9HZWUCW">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
      </div>
      <div class="col-md-5 consulation-right">

            <!-- <form>
              <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" value="Phone " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
              <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="submit" value="Donate" />
            </form> -->
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!---//End-consulation-->
    <!---start-testmonials-->
    <div id="test" class="testmonials">
      <div class="container">
        <div class="head c-head">
          <h3>Testimonials <span> </span></h3>
        </div>
        <!---start-testmonials-grids-->
        <div class="testmonials-grids text-center">
          <div class="col-md-4 testmonial-grid">
            <a href="#"><img class="t-pic" src="images/t1.jpg" title="name" /></a>
            <h5><a href="#">Stev Joni</a></h5>
            <span>Founder Lucoil</span>
            <p>Nice work, Certificates National Association of Realtors (USA).</p>
          </div>
          <div class="col-md-4 testmonial-grid">
            <a href="#"><img class="t-pic" src="images/t2.jpg" title="name" /></a>
            <h5><a href="#">Alisher Usmanov</a></h5>
            <span>Ural Steel</span>
            <p>My soul is illuminated by an unearthly joy, as these beautiful spring morning, which I enjoy with all my heart. I'm all alone and blissfully happy in the local edge.</p>
          </div>
          <div class="col-md-4 testmonial-grid">
            <a href="#"><img class="t-pic" src="images/t3.jpg" title="name" /></a>
            <h5><a href="#">Stev Joni</a></h5>
            <span>Founder Lucoil</span>
            <p>When my lovely valley of steam rises and half-day sun is above an impermeable. thicket</p>
          </div>
          <div class="clearfix"> </div>
        </div>
    <!----//End-testmonials-grids----->
  </div>
</div>
<!----//End-testmonials---->
<!----start-contact---->
<div id="contact" class="contact">
  <div class="container">
    <div class="head">
      <h3>Contact Us <span> </span></h3>
    </div>
    <div class="contact-grids">
      <div class="col-md-6 contact-left">
        <a href="mailto:someone@example.com?Subject=Website Submission" target="_top">info@biblechristiansfs.org</a><br />
        <p>1 708 872 7175</p><br />
        <p><label>P.O. Box 343</label><label>Lansing, IL 60438</label> </p>
      </div>
      <div class="col-md-6 contact-right">
        <form>
          <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
          <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
          <textarea onfocus="if(this.value == 'Message ') this.value='';" onblur="if(this.value == '') this.value='Message *;">Message </textarea>
          <input type="submit" value="write to us" />
        </form> 
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!----//End-contact---->

<!-----//End-container---->
