.bg {
  background: url(https://s3.amazonaws.com/bcfs2/GroupPic_0415.jpg) no-repeat 0px 0px;
  min-height:       809px;
  background-size:  100% 100%;
}

.header{
  color:  #18A7B5;
}

.contact-no span{
  color:  #18A7B5;
}

.head h3{
  width: 25%;
}

.form {
  margin: 0px 75px;
}