<!DOCTYPE html>
<html>
<head>
  <title>Bible Christians Fellowship of the Spirit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="js/jquery.min.js"></script>
     <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
    <!---- start-smoth-scrolling---->
     <!-- Custom Theme files -->
    <link href="css/theme-style.css" rel='stylesheet' type='text/css' />
       <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300,700' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!----start-top-nav-script---->
    <script>
      $(function() {
        var pull    = $('#pull');
          menu    = $('nav ul');
          menuHeight  = menu.height();
        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });
        $(window).resize(function(){
              var w = $(window).width();
              if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
              }
          });
      });
    </script>
    <!----//End-top-nav-script---->



</head>
<body>

<!-----start-container---->
      <div class="bg">
        <div class="container">
        <div class="header">
          <div class="contact-no">
            <span>708 872 7175</span>
          </div>
          <div class="contact-order">
            <a href="youtube.com/user/BibleChristians" target="_blank">Watch us Live</a>
          </div>
          <div class="clearfix"> </div>
        </div>
          <!----start-top-nav---->
         <nav class="top-nav">
          <ul class="top-nav">
            <li class="active"><a href="#home" class="scroll">Home</a></li>
            <li class="page-scroll"><a href="#about" class="scroll">About us</a></li>
            <li class="page-scroll"><a href="#con" class="scroll">Donate</a></li>
            <li class="page-scroll"><a href="#test" class="scroll">Testimonials</a></li>
            <li class="page-scroll"><a href="#contact" class="scroll">Contact</a></li>
            <li class="page-scroll"><a href="#gal" class="scroll">Resources</a></li>
          </ul>
          <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
        </nav>
      </div>
    </div>
    
    <!----start-footer---->
<div class="footer text-center">
  <div class="container">
    <a href="/"><img src="https://s3.amazonaws.com/bcfsphotos/BC_logo.jpg" title="bcfs logo"></a>
    <p class="copy-right">Bible Christians 2015</p>
    <script type="text/javascript">
      $(document).ready(function() {
      /*
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      */
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
</div>
    <!-----//End-container---->



    
</head>
<body>


<!----//End-footer---->

<%= yield %>

</body>
</html>
